<div class="container h-100 text-dark">
    <div class="row h-100 w-100 d-flex align-items-center">
        <div class="col py-2 rm-padding d-flex flex-column gap-4">
            <div class="d-flex gap-4 flex-column">
                <h1 class=" header lh-2">Cloud</h1>
                <h1 class=" header lh-2">Computing</h1>
            </div>
            <div class="text">
                quod illum praesentium delectus assumenda ea itaque ad. <br>
                adipisicing elit. Voluptates iure minus<br>
                Lorem, ipsum dolor sit.
            </div>
            <div class="button">
                <div mat-raised-button class="btn text-white rounded-pill px-4" style="background-color: #6C63FF;">Get Started</div>
            </div>
        </div>
        <div class="col h-100 position-relative">
            <img src="../../../../../assets/cloud-2.png" class="image" alt="cloud image">
        </div>
    </div>
</div>
